// Desde la consola, posicionados en el directorio donde está ubicado este archivo, ejecutar el siguiente comando:
// stylus -u nib -c -w main.styl -o ../

@import 'nib'
@import 'vendor/normalize.styl'

vendor-prefixes = webkit moz o ms official

body
	background #F1F1F1
	font-family 'Open Sans', sans-serif
	font-size 16px